@import "./Variables.scss";
@import "../../node_modules/bootstrap";

body {
  background-color: $uiBgColor !important;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.ui-nav-link {
  @extend .nav-link;
  color: #a1a1a1 !important;
  height: 100%;
  &:hover {
    color: #cccccc !important;
  }
}

html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.contentv {
  flex: 1 0 auto;
}
.footerv {
  flex-shrink: 0;
}
