@import "./Variables.scss";
@import "../../node_modules/bootstrap";

.ui-select-dark {
  @extend .form-control;
  background-color: $uiElementInputColor;
  color: rgb(197, 197, 197);
  border-radius: $uiElementBorderRadius;
  border: 0;
  &:focus {
    background-color: $uiElementInputColor;
    box-shadow: none !important;
    color: white;
  }
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='beige' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  /*TODO option style*/
  & option {
    &:checked {
      box-shadow: 0 0 10px 100px #ff004c inset;
    }
  }
}
